# Sample Plugin Configuration
# This is an example plugin.cfg for testing

[AUTHOR]
NAME=Test Author
EMAIL=test@example.com

[PLUGIN]
NAME=SamplePlugin
FOLDER=sampleplugin
VERSION=1.0.0
TITLE_EN=Sample Plugin
TITLE_DE=Beispiel Plugin
INTERFACE=index.html
AUTOUPDATE=2
LOGLEVEL=6

[SYSTEM]
LB_MINIMUM=3.0.0
LB_MAXIMUM=4.0.0

[DAEMON]
DAEMON=/opt/loxberry/bin/plugins/sampleplugin/daemon.sh
ENABLED=0

[CRON]
SCHEDULE=*/5 * * * *
COMMAND=/opt/loxberry/bin/plugins/sampleplugin/cron.sh
ENABLED=0
